  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <ul id="navbar-left">
      <% if (user?.profile.avatar) { %>
        <li class="form">
          <img id="google-user-icon-nav"
            src="<%= user.profile.avatar %>"
            alt="<%= user.profile.name %> avatar"
          />
        </li>
      <% } %>
        <li>
          <p id="nav-login-username"><%=user.profile.name%></p>
        </li>
      </ul>
      <ul id="navbar-right">
        <li>
          <a href="/profiles/<%= user.profile._id%>"</a>
            <button type="submit" class="navBtn" id="my-events-btn">My Events</button>
          </a>
        </li>
        <li>
          <a href="/profiles">
        <button type="submit" class="navBtn" id="all-profiles-btn">All Profiles</button>
          </a>
        </li>
        <li>
        <a id="logoutATag" href="/auth/logout">
          <button type="submit" class="navBtn"  id="logout-btn">Logout</button>
        </a>
        </li>
      </ul>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
