  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <% if (user?.profile.avatar) { %>
        <div>
          <img id="google-user-icon"
            src="<%= user.profile.avatar %>"
            alt="<%= user.profile.name %> avatar"
          />
        </div>
      <% } %>
      <p id="login-username"><%=user.profile.name%></p>
      <a href="/profiles">
        <button type="submit" id="my-events-btn">My Events</button>
      </a>
      <a href="/profiles">
        <button type="submit" id="all-profiles-btn">All Profiles</button>
      </a>
      <a href="/auth/logout">
        <button type="submit"  id="logout-btn">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
