<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="main">
<p>My Upcoming Events:</p>

<button action="" type="submit">Add an Event!</button>
</main>

<%- include('../partials/footer') %>
