<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="main">
<p>My Upcoming Events:</p>

<a href="/events/new"><button type="submit">Add an Event!</button></a>

</main>

<%- include('../partials/footer') %>
