<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main class="main">
  <% if (!user) { %> 
    <p id="intro">There is nothing better than taking a fun trip with the ones you love...</p>
    <p id="intro2">...but knowing you are organized and can help you truly enjoy your time together!</p>
    <p id="intro3">Sign in to join our community of planners and spend less time stressing, and more time living your dreams!</p>
    <% } else { %> 
  <div id="welcome-message">
    <h1>Welcome</h1>
    <h1 id="login-username"><%= user ? user.profile.name + "!": "Please try logging in again!" %></h1>
  </div>
    <% } %> 
</main>

<%- include('./partials/footer') %>
