html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: #8ecae6;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: #219ebc;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


h1 {
  font-size: 36px;
  padding: 5px 0;
  margin: 30px 0 0 0;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 18px;
}

label {
  font-weight: bold;
}

section {
  padding: 50px;
}

#login-username {
padding: 20px 0 0 0;
}

#upcoming-trips {
  margin: 5px 0 0 0;
}

#google-user-icon-nav {
  max-width: 40px;
  border-radius: 50px;
  margin: 0 10px 0 10px;

}

#welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20vh 0 0 0;
}

.google-user-icon{
  border-radius: 50px;

}
.card {
  border: solid 5px #ffb703;
  border-radius: 25% 10%;
  margin: 20px;
  padding: 20px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  display: flex;

}

.profileCard {
  text-decoration: none;
  color: #023047;
}

button {
  margin: 0 10px 0 10px;
}

#new-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#add-event-form {
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;
}

#add-items-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#finalize-event-btn {
  display: block;
  margin: 100px auto 0;
  text-decoration: none;
}

.form-item {
  margin: 2px 0 10px 0;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.item {
  margin: 0 30px;
  font-style: italic;
}

#item-table-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.items-display {
  display: flex;
  flex-direction: column;
}

td {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}

form {
  display: inline;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.opt-act-icon {
  border: solid 4px #ffb703;
  border-radius: 50px;
  padding: 30px
}